Body {
    Font-family: sans-serif;
  }
  
  Header {
    Margin-top: 20px;
  }
  
  H1 {
    Font-size: 32px;
  }
  
  H2 {
    Font-size: 24px;
  }
  
  Ul {
    List-style-type: none;
    Padding: 0;
  }
  
  .list-group-item {
    Padding: 10px;
  }
  
  Footer {
    Margin-bottom: 20px;
  }
  